<!--index.html-->
{% extends "base.html" %}

{% block content %}
<div class="raw">
        <div class="col-md-2" >
        <p>
         <img src="http://new.nginxs.net/conf/profile.png" class="img-circle" wight="90" height="120" alt="上海鲜花港 - 郁金香" />
            </p>
            <h3>白少华</h3>

            <p>一个炽热于技术的ITer</p>
            <p><a class="btn btn-default" href="#" role="button">点我认识</a></p>
        </div>
             <div class="col-md-10">
    {% for post in post_list %}
        <section class="posts">
                    <header class="post-header">
                        <h2 class="post-title">
                            <a href="{% url "article:detail" pk=post.id %}"> {{ post.title }} </a>
                        </h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.date_time |date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="{% url "article:search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content }}
                    </p>
                 </div>
                <a class="pure-button" href="{% url "article:detail" pk=post.id %}"> 查看更多>>>  </a>
                 </section>
                {% endfor %}
            </div>
    </div>


<!--文章分页部分 -->
        <div class="raw">
            <div class="col-md-12">
    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
      <div>
      <ul class="pager">
      {% if post_list.has_previous %}
        <li><a href="?page={{ post_list.previous_page_number }}">上一页</a></li>
      {% endif %}

      {% if post_list.has_next %}
        <li><a href="?page={{ post_list.next_page_number }}">下一页</a></li>
      {% endif %}
      </ul>
      </div>
    {% endif %}
                </div>
        </div>


{% endblock %}