{% extends "esweb/base.html" %}
{% block content %}
    <h2>{{es_dst.ip}}:{{es_dst.port}}
        <span class="small pull-right">
            <form method="get">
            <input class="form-control" type="search" name="search" placeholder="搜索命令" />
            </form>
        </span>
    </h2>
 <table class="table table-striped">
   <thead>
     <tr>
       {% for index in index_list %}
          <th>{{index}}</th>
       {% endfor %}
     </tr>
   </thead>
   <tbody>
     <tr>
   {% for indexname in index_list %}
      <td>
      {% for shards in shards_list %}
           {% ifequal shards.index indexname %}
              {% if shards.primary %}
                  <button type="button" href="" class="btn btn-default btn-success"><span class="glyphicon" color="green">M{{shards.shard}}</span></button>
              {% else %}
                 <button type="button" href="" class="btn btn-default btn-primary"><span class="glyphicon" color="green">S{{shards.shard}}</span></button>
              {% endif %}
          {% endifequal %}
      {% endfor %}
       </td>
    {% endfor %}
     </tr>
   </tbody>
 </table>
{% endblock %}