{% extends "esweb/base.html" %}
{% block content %}

<h2>{{es_dst.ip}}:{{es_dst.port}}
        <span class="small pull-right">
            <form method="get">
            <input class="form-control" type="search" name="search" placeholder="搜索命令" />
            </form>
        </span>
    </h2>
 <table class="table table-striped table-bordered table-hover">
   <thead>
     <tr><!--列名-->
             <th>参数</th>
           {% for node,node_info in res.items %}
              <th>{{ node_info.transport_address }}</br>{{ node }}</th>
           {% endfor %}
     </tr>
   </thead>
   <tbody>
     <tr>

         <!--节点功能-->
    <tr>
         <td>节点功能</td>
     {% for node,node_info in res.items %}
         <td>
         {%  for role in node_info.roles %}
                  <button type="button" href="" class="btn btn-default btn-primary"><span class="glyphicon">{{role}}</span></button>
         {% endfor %}
          </td>
     {% endfor %}
     </tr>
    <tr>
         <td>系统负载</td>
     {% for node,node_info in res.items %}
        <td>
            <p>cpu_percent: {{ node_info.os.cpu.percent }}</p>
            <p>load_average: {{ node_info.os.cpu.load_average.values }}</p>
            <p>mem_percent: {{ node_info.os.mem.used_percent }}</p>
        </td>
     {% endfor %}
     </tr>

    <tr>
         <td>JVM</td>
     {% for node,node_info in res.items %}
        <td>
            <p>heap_used_percent: {{ node_info.jvm.mem.heap_used_percent }}%</p>
            <p>heap_max_in_bytes: {{ node_info.jvm.mem.heap_max_in_bytes|filesizeformat }}</p>
            <p>heap_used_in_bytes: {{ node_info.jvm.mem.heap_used_in_bytes|filesizeformat }}</p>
        </td>
     {% endfor %}
     </tr>

       <tr>
         <td>文件系统</td>
     {% for node,node_info in res.items %}
         <td>
           <p>free_in_bytes: {{ node_info.fs.total.free_in_bytes|filesizeformat }}</p>
           <p>total_in_bytes: {{ node_info.fs.total.total_in_bytes|filesizeformat }}</p>
           <p>available_in_bytes: {{ node_info.fs.total.available_in_bytes|filesizeformat }}</p>
            {% for node_fs in node_info.fs.data %}
                 <p>{{ node_fs.mount }}-free_in_bytes: {{ node_fs.free_in_bytes|filesizeformat }}</p>
                 <p>{{ node_fs.mount }}-total_in_bytes: {{ node_fs.total_in_bytes|filesizeformat }}</p>
            {% endfor %}
        </td>
     {% endfor %}
     </tr>
   </tbody>
 </table>

{% endblock %}