{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="text-center page-header">
                <h2  href="">{{ post.title }}</h2>
                    <p>
                        Time:  <a class="post-author" href="#">{{ post.date_time|date:"Y /m /d"}}</a> <a class="post-category post-category-js" href="{% url "search_tag" tag=post.category %}">{{ post.category }}</a>
                    </p>
</div>
<div class="contain">
       <div class="raw">
           <div class="col">
             <p>{{ post.content|safe }}</p>
               <!--p>{{ post.content|custom_markdown}</p-->
           </div>
       </div>
        </section>
</div><!-- /.blog-post -->
{% endblock %}